$body-bg: #fafbfc;

$theme-colors: (
  "primary": #283a90,
);

.container-fluid {
  max-width: 1300px;
}

.forgot-password {
  margin-right: auto !important;
}

a:hover {
  cursor: pointer;
}

@import "~bootstrap/scss/bootstrap";
